* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 1.5;
}

.recipe {
    width: 500px;
    margin: auto;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    text-align: center;
}

img {
    border-radius: 20px 20px 20px 20px;
    height: auto;
    width: 500px; 
    margin: auto;
}

.selection {
    background-color: burlywood;
}